@page
@model FurnitureStoreWeb.Pages.StoresModel

@{
    ViewData["Title"] = "Choose Store";
}


<h2>Choose a Store</h2>

<div>
    @foreach (var store in Model.Stores)
    {
        <div class="store-container">
            <div class="store-title">@store.StoreName</div>
            <div class="store-location">@store.Location</div>
			<a asp-page="StorePage" class="btn" asp-route-storeId="@store.StoreID">Visit Store</a>
        </div>
    }
</div>