@page
@model FurnitureStoreWeb.Pages.StorePageModel
@{
	ViewData["Title"] = "Furniture Store";
}

<h1>Welcome @Model.Account.Username to Your Furniture Store</h1>

@*Show the Products list*@

<h2>Products</h2>
<div class="product-container">
	@foreach (var product in Model.Products)
	{
		<div class="product-card">
			<div class="product-details">
				<h3>@product.Product.ProductName</h3>
				<span>Price: @product.Product.Price</span>
				<span>In Store: @product.Quantity</span>
				<div class="product-more-details" hidden>
					<span>Material: Gỗ</span>
					<span>Dimensions: Đứng</span>
					<span>Color: Trắng</span>
				</div>
				<div class="product-actions">
					<button class="btn">View Detail</button>
				</div>
				<div class="product-actions">
					<button class="btn">Add to Cart</button>
				</div>
			</div>
		</div>
	}
</div>

@*Show Customer's Cart button*@
<div>
	<a class="btn" asp-page="/CartPage" asp-route="">Cart</a>
</div>

@section Scripts {
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var productCards = document.querySelectorAll(".product-card");
			productCards.forEach(function (productCard) {
				var viewDetailButton = productCard.querySelector(".view-detail");
				var addToCartButton = productCard.querySelector(".add-to-cart");
				var productDetails = productCard.querySelector(".product-details");
				var productMoreDetails = productCard.querySelector(".product-more-details");

				viewDetailButton.addEventListener("click", function () {
					productDetails.classList.toggle("expanded");
					productMoreDetails.hidden = !productMoreDetails.hidden;
				});

				addToCartButton.addEventListener("click", function (button) {
					button.addEventListener('click', function (event) {
						const productId = event.target.getAttribute('data-product-id');
						// Call a function to add the product to the cart
						addToCart(productId, quantity);
					});
				});
			});
		});

		//addToCart method to add product to cart and update the cart
function addToCart(productId,quantity) {
			// Call the API to add the product to the cart

			// Update the cart
		}

	</script>
}

