@page
@model FurnitureStoreWeb.Pages.Admin.AdminHomePageModel
@{
    ViewData["Title"] = "Choose an option";
}
<h2>Choose a option</h2>
<a asp-page="/StorePage">Visit store page</a>
<a asp-page="/Order/OrderPage">Visit  order page</a>
<a asp-page="/Management/Index">Visit  managment page</a>
