@page
@model FurnitureStoreWeb.Pages.Admin.AdminHomePageModel
@{
    ViewData["Title"] = "Choose an option";
}
<h2>Choose a option</h2>
<a class="btn" asp-page="/StorePage" asp-route-storeId="@Model.AdminAccount.AdminStoreID">Visit store page</a>
<a class="btn" asp-page="/Order/OrderPage">Visit  order page</a>
<a class="btn" asp-page="/Management/Index">Visit Accouunt Managment page</a>
<a class="btn" asp-page="/Admin/StoreManagement/Index">Visit Storage Management page</a>
